# Project dev files
.idea

# venv files
venv/

# pycache files
__pycache__/

# alembic db migration files
migrations/

# Ignore all files in the config folder, except the example configuration file
# This hides super secret config files!
config/*
!config/example_config.py
