<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8" />

    <title>projects.campen.co</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    {# Load jQuery. Would be nice to do this later..? #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    {% block head %}
        {# Page specific head_content goes here. #}
    {% endblock %}

</head>

<body>
    <div class="main-wrapper">
        {# Wrapper div for header, navigation, and main-content #}

        <div class="header-nav-wrapper">
            {# Wrapper for header and navigation content #}

            <header>
                 <h1 class="header-title">projects.campen.co</h1>
            </header>

            {# Hide navigation bar if user not logged in #}
            {% if current_user.is_authenticated %}
                <div class="nav-wrapper">
                    {# Wrapper for nav elements #}

                    <div class="nav-anchor"></div>
                    <div class="nav-buffer"></div>
                    <nav class="nav">
                        <ul class="nav-links">
                            <li class="nav-link-item"><a href="{{ url_for('index') }}" class="nav-link">Home</a></li>
                            <li class="nav-link-item"><a href="{{ url_for('new_page') }}" class="nav-link">Create Page</a></li>
                            {# TODO: put this somewhere better #}
                            <span class="logout-button-wrapper">
                                <button onclick="window.location.href='/logout'">Log out</button>
                            </span>
                        </ul>

                        <br/>
                        <hr/>

                    </nav>
                </div>
            {% endif %}
        </div>

        <div class="main-content">
            {% block main_content %}
                {# Page specific main content goes here. #}
            {% endblock %}
        </div>

    </div>

    <footer class="footer">
        <p class="version">v0.1.0</p>
        <div id='copyright'>
            Copyright &#169 <span class="copyright-year"></span> <a href="https://campen.co">Richard Campen</a>
        </div>
    </footer>



</body>