{% extends "base.html" %}

{% block main_content %}

    <div class="login-heading-wrapper">
        <h2 class="login-heading">Log in</h2>
    </div>

    <div class="login-form-wrapper">

        <div class="login-form">
            <form action="" method="post" name="login">
                {{ form.hidden_tag() }}

                <table>
                    <tbody>
                        <tr>
                            <td><label for="username">username</label></td>
                            <td>{{ form.username }}</td>
                        </tr>
                        <tr>
                            <td><label for="password">password</label></td>
                            <td>{{ form.password }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="login-button-wrapper">
                    <button type="submit">Log in</button>
                </div>

            </form>
        </div>

    </div>
{% endblock %}