{% extends "base.html" %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="inline">{{ project.title }}</h2>
            {% if project.private == true %}
                <i class="fa fa-lock" aria-hidden="true"></i>
            {% endif %}

            {# button for deleting page #}
            <form class="inline" action="{{ url_for('delete_page', project_name=project.name) }}" method="post" onsubmit="return confirm('WARNING: This action cannot be undone.\n\nAre you sure you want to delete this page?');">
                <input type=hidden value="{{ project.name }}" name="page_name">
                <button type="submit" class="btn btn-danger delete-button">
                    <i class="fa fa-trash-o" aria-hidden="true" title="delete"></i>
                </button>
            </form>

        </div>

        <div class="panel-body">
            <div class="markdown-content">{{ project.body | markdown_filter }}</div>
        </div>

        <div class="panel-footer">
            <p>Created: {{ project.created }}</p>
            <p>
                <a href="{{ url_for('edit_project', project_name=project.name) }}">EDIT</a>
                <a href="{{ url_for('new_post', project_name=project.name) }}">NEW POST</a>
            </p>

            {# post navigation; only if there are posts #}
            {% if post is not none %}
                {% if post.id > 1 %}
                    {# there are previous post so show nav link to them #}
                    <span><a href="{{ url_for('view_post', project_name=project.name, post_id=post.id - 1) }}">Older</a></span>
                {% else %}
                    <span>Older</span>
                {% endif %}

                <span>|</span>

                {% if post.id < ( posts | length ) %}
                    {# there are newer posts so show nav link to them #}
                    <span><a href="{{ url_for('view_post', page_name=page_data['name'], post_id=project_data['post_id'] + 1) }}">Newer</a></span>
                {% else %}
                    {# no newer links so don't render link #}
                    <span>Newer</span>
                {% endif %}
            {% endif %}
        </div>

    </div>

    {# displays post if there is one to display #}
    {% if post is none %}
        <p>No posts to show!</p>
    {% else %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="inline">Post: {{ post.created }}</h2>
                {% if post.private == true %}
                    <i class="fa fa-lock" aria-hidden="true"></i>
                {% endif %}

                 button for deleting page
                <form class="inline" action="{{ url_for('delete_post') }}" method="post" onsubmit="return confirm('WARNING: This action cannot be undone.\n\nAre you sure you want to delete this post?');">
                    <input type=hidden value="{{ post.name }}" name="page_name">
                    <input type=hidden value="{{ post.id }}" name="post_id">
                    <button type="submit" class="delete-button">
                        <i class="fa fa-trash-o" aria-hidden="true" title="delete"></i>
                    </button>
                </form>

            </div>

            <div class="panel-body">
                <div class="markdown-content">{{ post.body | markdown_filter }}</div>
                <p>Edited: {{ post['edited'] }}</p>
                <p><a href="{{ url_for('edit_post', project_name=project.name, post_id=post.id) }}">EDIT</a></p>
            </div>

        </div>
    {% endif %}

{% endblock %}